body{
    background-color: black;
}

input{
    margin: 40px;
    padding: 6px 9px;
    border: none;
    border-bottom: 1px solid greenyellow;
    background: transparent;
    border-radius: 3px;
    color: blue;
}